:root {
    --color-background: #E8EEED;
    --color-accent-green: #26DEA7;
    --shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-background);
    gap: 2rem;
}

.title {
    font-size: 3rem;
    color: white;
    margin: 0;
    padding: 1rem 3rem;
    width: 30rem;
    background-color: var(--color-accent-green);
    border: 0.15rem solid white;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}

.info-container {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    align-items: center;
}

.info-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.info-table {
    font-size: 1.3rem;
    background-color: white;
    padding: 0.5rem 1.5rem;
    width: 30rem;
    margin: 0;
    border: 0.15rem solid var(--color-accent-green);
    box-sizing: border-box;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: var(--shadow);
}

.info-rounds {
    margin: 0;
    padding: 0;
}

.score-table {
    display: flex;
    align-items: center;
    gap: 7.5rem;
    margin-bottom: 0.50rem;
}

.score-human,
.score-computer {
    margin: 0;
    padding: 0;
}

.new-game-button {
    font-size: 1.3rem;
    color: white;
    height: fit-content;
    background-color: var(--color-accent-green);
    text-align: center;
    border: 0.15rem solid white;
    border-radius: 0.5rem;
    padding: 0.5rem;
    box-shadow: var(--shadow);
    cursor: pointer;
    transition: color 0.2s, background-color 0.2s, border 0.2s;
}

.new-game-button:hover {
    color: black;
    background-color: white;
    border: 0.15rem solid var(--color-accent-green);
}


.game-container {
    background-color: white;
    width: 40rem;
    height: 15rem;
    display: flex;
    justify-content: space-around;
    border: 0.15rem solid var(--color-accent-green);
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}

.img-div-player,
.img-div-computer {
    height: 10rem;
    width: 10rem;
    padding: 0.3rem;
}

.img-choice {
    height: 100%;
    width: 100%;
    animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.player-hand,
.computer-hand {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-hand-title,
.computer-hand-title,
.info-rounds {
    font-size: 1.3rem;
    color: white;
    background-color: var(--color-accent-green);
    width: 70%;
    text-align: center;
    border: 0.15rem solid white;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    margin: 0;
    margin-top: 0.50rem;
    ;
    box-shadow: var(--shadow)
}

.separator {
    background-color: var(--color-accent-green);
    height: 90%;
    width: 0.5rem;
    padding: 0;
    margin: 0.5rem 0;
    align-self: center;
    border: 0.15rem solid white;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}

.player-zone {
    background-color: white;
    width: 40rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 0.15rem solid var(--color-accent-green);
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
}

#player-zone-title {
    font-size: 1.3rem;
    color: white;
    background-color: var(--color-accent-green);
    width: 90%;
    text-align: center;
    border: 0.15rem solid white;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    margin: 0;
    box-shadow: var(--shadow)
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    gap: 3rem;
}

.button {
    display: flex;
    justify-content: center;
    background: none;
    border: 0.15rem solid var(--color-accent-green);
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    box-sizing: border-box;
    height: 7.5rem;
    width: 7.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--color-accent-green);
    border-color: white;
}